@import "../../styles/base";

.header {
  @extend .constrained;
  margin-top:20px;
  text-align: center;

  .logo {
    img {
      margin-top: 1.75rem;
      margin-bottom: .25rem;
      height: 3rem;
      width: auto;
    }

    h3 {
      color: #60677F;
      font-size: 1.5rem;
      padding: 2px;
      margin: auto;
    }
  }

  .navbar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $accent_gray;
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 60px;
    line-height: 60px;
    text-align: center;

    &__item {
      color: lighten($text_gray, 30%);
      font-size: .8rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 40px;

      &--selected, &:hover {
        color: $highlight;
      }
    }
  }
}
