@import "../../styles/base";

.navbar {
  @extend .constrained;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $accent_gray;
  display: flex;
  height: 76px;
  line-height: 76px;
  justify-content: space-between;

  &__item {
    color: $text_gray;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 40px;

    &--selected, &:hover {
      color: $highlight;
    }
  }
}