.splash {
	background: #001E27;
	color: #b0c4c6;
	height: 100VH;
	overflow: auto;
}

.splash::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.splash::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.splash::-webkit-scrollbar {
	width: 12px;
}

header {
	height: 74px;
	width: 100%;
	background: rgba(00,100,150,1);

	&.bottom {
		bottom: 0px;
		position: absolute;
	}

	&.sticky {
		bottom: initial;
		position: fixed;
		top: 0;
	}

	&.console {
		color: #b0c4c6;

		a {
			color: #b0c4c6;
		}
	}

	.logo {
		padding: 10px 20px;
		display: inline-block;
		height: 50px;

		img {
			height: 100%;
		}

		.text {
			padding: 20px;
			position: relative;
			top: -15px;
		}
	}

	.menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 20px;

		&__item {
			color: $text-color;
			display: inline-block;
			padding: 0px 10px;

			a {
				text-decoration: none;
			}
		}
	}
}

.section {
	text-align: center;

	.content {
		padding: 20px;

		p {
			margin: auto;
			max-width: 700px;
		}
	}

	.inset {
		background: $inset-color;
		color: $inverted-text-color;
	}
}

.blog-tile {
	@extend .pure-u-1-3;

	img {

	}

	.title {

	}

	.date-published {

	}

	.excerpt {

	}
}

.blog-post {

}

.project-tile {
	@extend .pure-u-1-5;
}