
.splash {
	background: #001E27;
	color: #b0c4c6;
	height: 100VH;
	overflow: auto;
}

.full-bleed-background {

}


header {
	background: $navigation-color;
	border-bottom: 1px solid $border-color;
	height: 74px;
	width: 100%;

	&.bottom {
		bottom: 0px;
		position: absolute;
	}

	&.sticky {
		bottom: initial;
		position: fixed;
		top: 0;
	}

	.logo {
		padding: 10px;
		display: inline-block;
	}

	.menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 20px;

		&__item {
			color: $text-color;
			display: inline-block;
			padding: 0px 10px;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}

.section {
	text-align: center;

	.content {
		padding: 20px;

		p {
			margin: auto;
			max-width: 700px;
		}
	}

	.inset {
		background: $inset-color;
		color: $inverted-text-color;
	}
}

.blog-tile {
	@extend .pure-u-1-3;

	img {

	}

	.title {

	}

	.date-published {

	}

	.excerpt {

	}
}

.blog-post {

}

.project-tile {
	@extend .pure-u-1-5;
}